<div class="outer">
    <div class="container">
        <div class="d-flex justify-content-around div-content">
            <div>
                <img src="../assets/images/utilisateur.png" alt="">
                <h2>Gestion Utilisateur</h2>
                <button type="button" class="btn btn-primary btn-lg" (click)="goToPageSubsciber()">En savoir
                    plus</button>
            </div>
            <div>
                <img src="../assets/images/wallet.png" alt="">
                <h2>Gestion Wellet</h2>
                <button type="button" class="btn btn-primary btn-lg " (click)="goToPageWallet()">En savoir plus</button>

            </div>

        </div>
    </div>
</div>